// Main SCSS
@import   "modules/all";  //import partials, where the meat of CSS is constructed
@import   "partials/all";  //import vendors

.form-general_admin .custom-control.custom-checkbox_admin input ~ .custom-control-label::after{
  cursor: pointer
}

.modal-dialog-registro{
  @media(max-width: 998px){
    width: 90% !important;
    max-width: inherit !important;
  }
}

.input-group>.custom-file:focus, .input-group>.custom-select:focus, .input-group>.form-control:focus{
  z-index: inherit !important
}
