//variables, colors, font-family, etc
$green_01: #16FF73;
$gray_01: #D4D4D4;
//TIPO DE MEDIAQUERIES
//SI LA m ES minúscula = min-width
$m1200: 'screen and (min-width: 1200px)';
$m1440: 'screen and (min-width: 1440px)';
$m1680: 'screen and (min-width: 1680px)';
$m1920: 'screen and (min-width: 1920px)';